<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24895774475-82hd9f2tbm461cfcugm78j6ejjfpu619.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24895774475-82hd9f2tbm461cfcugm78j6ejjfpu619</string>
	<key>API_KEY</key>
	<string>AIzaSyDxLw8vFBXlE1iz8FxalmEb67AelEkOetY</string>
	<key>GCM_SENDER_ID</key>
	<string>24895774475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mage8</string>
	<key>PROJECT_ID</key>
	<string>sikama-70f9c</string>
	<key>STORAGE_BUCKET</key>
	<string>sikama-70f9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24895774475:ios:56d11b49617e10cd7e8c0e</string>
</dict>
</plist>